k8s/manifest

# Terraform gitignore
/terraform/terraform.tfvars
/terraform/.terraform
/terraform/*.tfstate
/terraform/*.tfstate.backup
/terraform/*.tfplan
/terraform/.terraformrc
/terraform/terraform.rc
/terraform/.terraform.lock.hcl

k8s/manifests
ops

.horusec